html, body, h1, h2, ul, li, h3, a, p, div, input, form,
label, button {
  background: transparent;
  border:  0;
  color: inherit;
  margin:  0;
  outline: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  box-shadow: none;
  vertical-align: inherit;
  text-decoration: none;
  cursor: default;
}

ul {
  list-style: none;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

input {
  cursor: text;
}

button {
  cursor: pointer;
}

.group:before {
  clear: both;
  content: "";
  display: block;
}

.header-bar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: purple;
  margin-bottom: 15px;
}

.header-text {
  padding-left: 10px;
  font-size: 32px;
  color: white;
  text-shadow: 0 0 0.5px black;
}

.issues-list {
}

.last-updated {
  padding: 10px;
}

.issues-list.fetching {
  color: #bbb;
}

.issue {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.issue:first-child {
  border-top: 1px solid #ccc;
}

.main {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 25px;
}

.button {
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
}

.spinner {
  font-size: 6em;
  color: purple;
  text-align: center;
}

.issue-title {
  font-weight: bold;
}
